p {
  font-family: Lato;
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 10px 0px 10px;
}

footer p {
  color: beige;
  text-align: center;
}
