<div class="container">
  <div class="container-inside">
    <h5>To Read</h5>
    <ul>
      <li>The Hobbit</li>
    </ul>
  </div>

  <div class="container-inside">
    <h5 class="three">To Watch</h5>
    <ul>
      <li>Ricky and Morty</li>
      <li>Harry Potter</li>
    </ul>
  </div>

  <div class="container-inside">
    <h5 class="two">To Buy</h5>
    <ul>
      <li>Buy milk</li>
      <li>Buy bananas</li>
      <li>Buy cookies</li>
    </ul>
  </div>

  <div class="container-inside">
    <h5 class="four">To Eat</h5>
    <ul>
      <li>Mcdonald's</li>
      <li>Jollibee</li>
      <li>Steak House</li>
    </ul>
  </div>
</div>
